<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
 
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <!-- Header -->
    <header class="display-flex justify-space-between align-center p-2">

      <nav>
        <!-- login?logout based on user sessn -->
        {{#if logged_in}}
        <a class="nav-a" href="/">blog posts</a> |
        <a class="nav-a" href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>

        {{else}}
        <a class="nav-a" href="/login">login</a>

        {{/if}}
      </nav>

    </header>

    <!-- Branding and Logo -->
    <div class="row">
      <div class="column display-flex justify-space-between ml-3 p-2">
        <h1>
          <a href="/">TechBlog</a>
        </h1>
      </div>
    </div>

    <!-- Main Content -->
    <main class="container container-fluid mt-5">
      <!-- Render the main content of each page -->
      {{{ body }}}
    </main>

    <!-- Footer -->
    <footer>
<p>&copy; 2023 Tech Blog. </p>
    </footer>
  </div>

  <!--  script for logged in users -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
